@media (max-width: 767px) {
  :where(.css-dev-only-do-not-override-xs4f4s).ant-modal {
    top: 0;
    width: 100% !important;
    max-width: none !important;
    margin: 0px !important;
    height: 100% !important;
  }

  :where(.css-dev-only-do-not-override-xs4f4s).ant-modal .ant-modal-content {
    border-radius: 0px !important;
  }
}
